body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'San Francisco', sans-serif;
}

.appTitle{
    z-index: 900;
    display: flex;
    height: 6vh;
    width: 100vw;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: hsla(175, 0%, 95%, 1.0);
    color: hsla(175, 80%, 30%, 1.0);
    box-shadow: 1px 4px 20px hsla(175, 0%, 0%, 0.15)
}

.map {
    margin-top: vh;
    width: 100vw;
    height: 94vh;
}

.infoContent{
    display: flex;
    flex-direction: row;
}

.inputBox{
    font-size: 0.75rem;
    border: none;
    border-bottom: 2px solid hsla(175, 0%, 55%, 1.0);
    transition: all 0.75s ease-out;
}

.inputBox:hover{
    outline: none;
    border-bottom: 2px solid hsla(175, 80%, 30%, 1.0);
    transition: all 0.75s ease-out;
}

.saveBtn{
    font-size: 0.75rem;
    background-color: hsla(175, 80%, 30%, 1.0);
    border: 0 solid hsla(175, 0%, 0%, 0);
    margin-left: 1rem;
    color: white;
    border-radius: 4px;
}

.deleteBtn{
    font-size: 0.85rem;
    margin: 0 0.25rem 0 1rem;
}

.infoCtn{
    display: flex;
    flex-direction: row;
}