body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'San Francisco', sans-serif;
}

.appTitle{
    z-index: 900;
    display: flex;
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100vw;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: hsla(175, 0%, 95%, 1.0);
    color: hsla(175, 80%, 30%, 1.0);
    box-shadow: 1px 4px 20px hsla(175, 0%, 0%, 0.15)
}

.loadingAnimation{
    z-index: 1000;
    position: fixed;
    width: 6vh;
    height: 6vh;
    background-color: hsla(175, 80%, 30%, 1.0);
    border-radius: 50px;
    /* margin-top: 4rem; */
    animation: loading 3s infinite linear;
}

@keyframes loading{
    0%{
        background-color: hsla(175, 80%, 30%, 1.0);
        border-radius: 50px;
        width: 6vw;
        height: 6vw;
        transform: scale(1);
    }
    9%{
        background-color: hsla(175, 80%, 30%, 1.0);
        border-radius: 50px;
        width: 6vw;
        height: 6vw;
        transform: scale(0.5);
    }
    15%{
        background-color: hsla(190, 80%, 32.5%, 1.0);
        border-radius: 15px;
        width: 12vw;
        height: 6vw;
        transform: scale(1.3);
    }
    32%{
        background-color: hsla(210, 80%, 35%, 1.0);
        border-radius: 5px;
        width: 12vw;
        height: 6vw;
        transform: scale(1.4);
    }
    41%{
        background-color: hsla(175, 80%, 30%, 1.0);
        border-radius: 50px;
        width: 6vw;
        height: 6vw;
        transform: scale(0.5);
    }
    50%{
        background-color: hsla(175, 80%, 30%, 1.0);
        border-radius: 50px;
        width: 6vw;
        height: 6vw;
        transform: scale(1);
    }
    59%{
        background-color: hsla(175, 80%, 30%, 1.0);
        border-radius: 50px;
        width: 6vw;
        height: 6vw;
        transform: scale(0.5);
    }
    65%{
        background-color: hsla(160, 80%, 32.5%, 1.0);
        border-radius: 15px;
        width: 6vw;
        height: 12vw;
        transform: scale(1.3);
    }
    82%{
        background-color: hsla(140, 80%, 35%, 1.0);
        border-radius: 5px;
        width: 6vw;
        height: 12vw;
        transform: scale(1.4);
    }
    91%{
        background-color: hsla(175, 80%, 30%, 1.0);
        border-radius: 50px;
        width: 6vw;
        height: 6vw;
        transform: scale(0.5);
    }
    100%{
        background-color: hsla(175, 80%, 30%, 1.0);
        border-radius: 50px;
        width: 6vw;
        height: 6vw;
        transform: scale(1);
    }

}

.map {
    /* display: none; */
    margin-top: 6vh;
    width: 100vw;
    height: 94vh;
}

.infoContent{
    display: flex;
    flex-direction: row;
}

.inputBox{
    font-size: 0.75rem;
    width: 6rem;
    border: none;
    border-bottom: 2px solid hsla(175, 0%, 55%, 1.0);
    transition: all 0.75s ease-out;
}

.inputBox:hover{
    outline: none;
    border-bottom: 2px solid hsla(175, 80%, 30%, 1.0);
    border-radius: 0px;
    transition: all 0.75s ease-out;
}

.inputBox:focus{
    outline: none;
    border-bottom: 2px solid hsla(175, 80%, 30%, 1.0);
    transition: all 0.75s ease-out;
}

.saveBtn{
    font-size: 0.75rem;
    background-color: hsla(175, 80%, 30%, 1.0);
    border: 0 solid hsla(175, 0%, 0%, 0);
    margin: 0 0.5rem 0 1rem;
    padding: 0.25rem 0.75rem;
    color: white;
    border-radius: 4px;
}

.infoCtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.deleteBtn{
    font-size: 0.95rem;
    margin: 0.3rem 0.4rem 0.2rem 0.7rem;
    padding: 0.45rem 0.5rem;
    border-radius: 1px;
    color: hsla(175, 0%, 28%, 1.0);    
    transition: all 0.35s ease-out;
}

.deleteBtnRed{
    border-radius: 50px;
    background-color: red;
    color: white;
    transform: rotate(360deg);
    transition: all 0.35s ease-out;
}

.infoTitle{
    margin: 0.15rem 0.5rem 0 0.5rem;
}

.disappear{
    display: none;
}